@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

/* 기본 스타일 설정 */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 헤더 스타일 */
header {
    width: 100%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar a {
    margin: 0 45px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: transform 0.3s ease;
}

/* 콘텐츠 스타일 */
.content_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 가운데 정렬 */
    padding: 20px;
    max-width: 30em; /* form과 동일한 너비 */
    width: 100%;
    margin: auto;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 왼쪽 정렬 */
    padding: 20px;
    max-width: 1000px;
    width: 80%;
    margin: auto;
}

/* 텍스트 스타일 */
h1 {
    font-size: 80px;
    margin: 20px 0;
    text-shadow: 5px 5px 20px black;
    text-align: left; /* 왼쪽 정렬 */
}

p {
    font-size: 30px;
    margin: 10px 0;
    text-shadow: 5px 5px 20px black;
    text-align: left; /* 왼쪽 정렬 */
}

/* 버튼 스타일 */
.button {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    background-color: #00000080;
    box-shadow: 5px 5px 10px #0000009b;
    color: white;
    border: none;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
    font-size: 30px;
}

.button:hover {
    background-color: #2980b9;
}

/* 폼 스타일 */
form {
    margin: 20px 0;
    width: 30em; /* form 너비 설정 */
    display: flex; /* 플렉스 박스 추가 */
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 기본값: 왼쪽 정렬 */
}

label {
    display: block;
    margin: 15px 0 5px;
    font-size: 45px;
}

input {
    width: calc(100% - 20px);
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 10px #0000009b;
}

/* 카드 스타일 */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}

/* 링크 스타일 */
a {
    color: #3498db;
    text-decoration: none;
    text-align: left; /* 왼쪽 정렬 */
}

/* 푸터 스타일 */
footer {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

footer p {
    font-size: 15px;
}
